<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Infinium.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Infinium.Properties.Settings.CatalogConnectionString"
      connectionString="Data Source=infinium.zovprofil.by, 32433;Initial Catalog=infiniu2_catalog;Persist Security Info=True;Connection Timeout=10;User ID=infiniu2_infinium;Password=efcJzNcjJSEOpWfNsGmLRVkrCnnENR3VHSSN1J99CrwCPY5ipT5iPJ6xNViEiMaaZMvzKhQBby1FDzHp33CC/dpKdYXz4hQYG+oDE4mg+h6RBAZRY2kyThWXlF673UAh94GwyhcTuwFM2qAMEI5BpdsTFDnwwaHkzTV6MZG81pxcb0GtcwVIwfy22fX4d3+BUcMdqYeWodyWtxVRjOeuqQEN1iOxBAtsVUEWAcb2Ki4ZIKxzfudYtbBDiwsXrChAEGREFIf3kvn1jJjBTdx0ipdyftCC0PBctd6t1nNV2rI+p86/+GVUbBj5Z+VNkXSFEwFCusqqXIZsPWr9tZtFZWKrNdd5h9SoQv9jzmIWrnnhNH6awxMcSnRXu/DMNTJXw0A/1tj5Tz1ZFWo8pcHSLLmNWsh6EvYY3ctwH5HgZiySz++0X77Lrjn1Kjko0O0q" />
    <add name="Infinium.Properties.Settings.LightConnectionString"
      connectionString="Data Source=infinium.zovprofil.by, 32433;Initial Catalog=infiniu2_light;Persist Security Info=True;Connection Timeout=10;User ID=infiniu2_infinium;Password=efcJzNcjJSEOpWfNsGmLRVkrCnnENR3VHSSN1J99CrwCPY5ipT5iPJ6xNViEiMaaZMvzKhQBby1FDzHp33CC/dpKdYXz4hQYG+oDE4mg+h6RBAZRY2kyThWXlF673UAh94GwyhcTuwFM2qAMEI5BpdsTFDnwwaHkzTV6MZG81pxcb0GtcwVIwfy22fX4d3+BUcMdqYeWodyWtxVRjOeuqQEN1iOxBAtsVUEWAcb2Ki4ZIKxzfudYtbBDiwsXrChAEGREFIf3kvn1jJjBTdx0ipdyftCC0PBctd6t1nNV2rI+p86/+GVUbBj5Z+VNkXSFEwFCusqqXIZsPWr9tZtFZWKrNdd5h9SoQv9jzmIWrnnhNH6awxMcSnRXu/DMNTJXw0A/1tj5Tz1ZFWo8pcHSLLmNWsh6EvYY3ctwH5HgZiySz++0X77Lrjn1Kjko0O0q" />
    <add name="Infinium.Properties.Settings.MarketingOrdersConnectionString"
      connectionString="Data Source=infinium.zovprofil.by, 32433;Initial Catalog=infiniu2_marketingorders;Persist Security Info=True;Connection Timeout=10;User ID=infiniu2_infinium;Password=efcJzNcjJSEOpWfNsGmLRVkrCnnENR3VHSSN1J99CrwCPY5ipT5iPJ6xNViEiMaaZMvzKhQBby1FDzHp33CC/dpKdYXz4hQYG+oDE4mg+h6RBAZRY2kyThWXlF673UAh94GwyhcTuwFM2qAMEI5BpdsTFDnwwaHkzTV6MZG81pxcb0GtcwVIwfy22fX4d3+BUcMdqYeWodyWtxVRjOeuqQEN1iOxBAtsVUEWAcb2Ki4ZIKxzfudYtbBDiwsXrChAEGREFIf3kvn1jJjBTdx0ipdyftCC0PBctd6t1nNV2rI+p86/+GVUbBj5Z+VNkXSFEwFCusqqXIZsPWr9tZtFZWKrNdd5h9SoQv9jzmIWrnnhNH6awxMcSnRXu/DMNTJXw0A/1tj5Tz1ZFWo8pcHSLLmNWsh6EvYY3ctwH5HgZiySz++0X77Lrjn1Kjko0O0q" />
    <add name="Infinium.Properties.Settings.MarketingReferenceConnectionString"
      connectionString="Data Source=infinium.zovprofil.by, 32433;Initial Catalog=infiniu2_marketingreference;Persist Security Info=True;Connection Timeout=10;User ID=infiniu2_infinium;Password=efcJzNcjJSEOpWfNsGmLRVkrCnnENR3VHSSN1J99CrwCPY5ipT5iPJ6xNViEiMaaZMvzKhQBby1FDzHp33CC/dpKdYXz4hQYG+oDE4mg+h6RBAZRY2kyThWXlF673UAh94GwyhcTuwFM2qAMEI5BpdsTFDnwwaHkzTV6MZG81pxcb0GtcwVIwfy22fX4d3+BUcMdqYeWodyWtxVRjOeuqQEN1iOxBAtsVUEWAcb2Ki4ZIKxzfudYtbBDiwsXrChAEGREFIf3kvn1jJjBTdx0ipdyftCC0PBctd6t1nNV2rI+p86/+GVUbBj5Z+VNkXSFEwFCusqqXIZsPWr9tZtFZWKrNdd5h9SoQv9jzmIWrnnhNH6awxMcSnRXu/DMNTJXw0A/1tj5Tz1ZFWo8pcHSLLmNWsh6EvYY3ctwH5HgZiySz++0X77Lrjn1Kjko0O0q" />
    <add name="Infinium.Properties.Settings.StorageConnectionString"
      connectionString="Data Source=infinium.zovprofil.by, 32433;Initial Catalog=infiniu2_storage;Persist Security Info=True;Connection Timeout=10;User ID=infiniu2_infinium;Password=efcJzNcjJSEOpWfNsGmLRVkrCnnENR3VHSSN1J99CrwCPY5ipT5iPJ6xNViEiMaaZMvzKhQBby1FDzHp33CC/dpKdYXz4hQYG+oDE4mg+h6RBAZRY2kyThWXlF673UAh94GwyhcTuwFM2qAMEI5BpdsTFDnwwaHkzTV6MZG81pxcb0GtcwVIwfy22fX4d3+BUcMdqYeWodyWtxVRjOeuqQEN1iOxBAtsVUEWAcb2Ki4ZIKxzfudYtbBDiwsXrChAEGREFIf3kvn1jJjBTdx0ipdyftCC0PBctd6t1nNV2rI+p86/+GVUbBj5Z+VNkXSFEwFCusqqXIZsPWr9tZtFZWKrNdd5h9SoQv9jzmIWrnnhNH6awxMcSnRXu/DMNTJXw0A/1tj5Tz1ZFWo8pcHSLLmNWsh6EvYY3ctwH5HgZiySz++0X77Lrjn1Kjko0O0q" />
    <add name="Infinium.Properties.Settings.UsersConnectionString"
      connectionString="Data Source=infinium.zovprofil.by, 32433;Initial Catalog=infiniu2_users;Persist Security Info=True;Connection Timeout=10;User ID=infiniu2_infinium;Password=efcJzNcjJSEOpWfNsGmLRVkrCnnENR3VHSSN1J99CrwCPY5ipT5iPJ6xNViEiMaaZMvzKhQBby1FDzHp33CC/dpKdYXz4hQYG+oDE4mg+h6RBAZRY2kyThWXlF673UAh94GwyhcTuwFM2qAMEI5BpdsTFDnwwaHkzTV6MZG81pxcb0GtcwVIwfy22fX4d3+BUcMdqYeWodyWtxVRjOeuqQEN1iOxBAtsVUEWAcb2Ki4ZIKxzfudYtbBDiwsXrChAEGREFIf3kvn1jJjBTdx0ipdyftCC0PBctd6t1nNV2rI+p86/+GVUbBj5Z+VNkXSFEwFCusqqXIZsPWr9tZtFZWKrNdd5h9SoQv9jzmIWrnnhNH6awxMcSnRXu/DMNTJXw0A/1tj5Tz1ZFWo8pcHSLLmNWsh6EvYY3ctwH5HgZiySz++0X77Lrjn1Kjko0O0q" />
    <add name="Infinium.Properties.Settings.ZOVOrdersConnectionString"
      connectionString="Data Source=infinium.zovprofil.by, 32433;Initial Catalog=infiniu2_zovorders;Persist Security Info=True;Connection Timeout=10;User ID=infiniu2_infinium;Password=efcJzNcjJSEOpWfNsGmLRVkrCnnENR3VHSSN1J99CrwCPY5ipT5iPJ6xNViEiMaaZMvzKhQBby1FDzHp33CC/dpKdYXz4hQYG+oDE4mg+h6RBAZRY2kyThWXlF673UAh94GwyhcTuwFM2qAMEI5BpdsTFDnwwaHkzTV6MZG81pxcb0GtcwVIwfy22fX4d3+BUcMdqYeWodyWtxVRjOeuqQEN1iOxBAtsVUEWAcb2Ki4ZIKxzfudYtbBDiwsXrChAEGREFIf3kvn1jJjBTdx0ipdyftCC0PBctd6t1nNV2rI+p86/+GVUbBj5Z+VNkXSFEwFCusqqXIZsPWr9tZtFZWKrNdd5h9SoQv9jzmIWrnnhNH6awxMcSnRXu/DMNTJXw0A/1tj5Tz1ZFWo8pcHSLLmNWsh6EvYY3ctwH5HgZiySz++0X77Lrjn1Kjko0O0q" />
    <add name="Infinium.Properties.Settings.ZOVReferenceConnectionString"
      connectionString="Data Source=infinium.zovprofil.by, 32433;Initial Catalog=infiniu2_zovreference;Persist Security Info=True;Connection Timeout=10;User ID=infiniu2_infinium;Password=efcJzNcjJSEOpWfNsGmLRVkrCnnENR3VHSSN1J99CrwCPY5ipT5iPJ6xNViEiMaaZMvzKhQBby1FDzHp33CC/dpKdYXz4hQYG+oDE4mg+h6RBAZRY2kyThWXlF673UAh94GwyhcTuwFM2qAMEI5BpdsTFDnwwaHkzTV6MZG81pxcb0GtcwVIwfy22fX4d3+BUcMdqYeWodyWtxVRjOeuqQEN1iOxBAtsVUEWAcb2Ki4ZIKxzfudYtbBDiwsXrChAEGREFIf3kvn1jJjBTdx0ipdyftCC0PBctd6t1nNV2rI+p86/+GVUbBj5Z+VNkXSFEwFCusqqXIZsPWr9tZtFZWKrNdd5h9SoQv9jzmIWrnnhNH6awxMcSnRXu/DMNTJXw0A/1tj5Tz1ZFWo8pcHSLLmNWsh6EvYY3ctwH5HgZiySz++0X77Lrjn1Kjko0O0q" />
    <add name="Infinium.Properties.Settings.FTPType" connectionString="ftp://infinium.zovprofil.by/Update/UpdateInfinium/" />
    <add name="Infinium.Properties.Settings.DocumentsPath" connectionString="ftp://infinium.zovprofil.by/Documents/" />
    <add name="Infinium.Properties.Settings.DocumentsZOVTPSPath"
      connectionString="ftp://infinium.zovprofil.by/zovprofil.by/wwwroot/Images/" />
    <add name="Infinium.Properties.Settings.Animation" connectionString="False" />
  </connectionStrings>
  <applicationSettings>
    <Infinium.Properties.Settings>
      <setting name="Infinium_WebService_WebService1" serializeAs="String">
        <value>http://infinium.2h.by/WebService1.asmx</value>
      </setting>
    </Infinium.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
