<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Infinium.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Infinium.Properties.Settings.UsersConnectionString" connectionString="Data Source=ROMANCHUK;Initial Catalog=USERS;Persist Security Info=True;Connection Timeout=1;User ID=sa;Password=YcLj3x+u7UbaDGhpHpuw1qkacjwo7YJI7GUr4Z4Z60owmAk3tMw14ObnvvCI+ZBn"/>
    </connectionStrings>
    <applicationSettings>
        <Infinium.Properties.Settings>
            <setting name="Infinium_WebService_WebService1" serializeAs="String">
                <value>http://infinium.2h.by/WebService1.asmx</value>
            </setting>
        </Infinium.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
